<div class="row">
    <div class="col-md-12 text-center">
        <div class="mt-4">Dashboard</div>
        <p class="lead mb-3">Welcome <%= name %></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
            <a href="/fileupload/api/media/upload" class="btn btn-secondary">Upload video</a>
        </div>
    </div>
</div>