<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h2 class="text-center mb-3">Upload File</h2>
            <form action="/fileupload/api/media/upload" enctype="multipart/form-data" method="post">
                <div class="form-group custom-file mb-3">
                    <input type="file" class="form-control custom-file-input"  name="file" />
                    <label for="file" class="custom-file-label">Choose File</label>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Upload">
            </form>
        </div>
    </div>
</div>
